nextflow.enable.dsl = 2

includeConfig 'conf/base.config'

profiles {
    standalone {
        includeConfig 'conf/standalone.config'
    }
    docker {
        includeConfig 'conf/docker.config'
    }
    test {
        includeConfig 'conf/test.config'
    }
    scc {
        includeConfig 'conf/scc.config'
    }
}
