manifest {
    name = 'Luckyfruit88/IGV-Pipeline'
    version = '3.0.0'
    description = 'Pull-and-run Docker, Apptainer, Singularity, and Nextflow IGV snapshot pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '25.04.7'
}

params {
    run_id = null
    generation_id = null
    params_file = null
    associations = null
    rds_dir = null
    bam_lookup = null
    violin_dir = null
    genome_definition = null
    fasta = null
    fai = null
    cytoband = null
    annotation = null
    prepared_cases = null
    prepared_samples = null
    plan_output = null
    shard_manifest = null
    shard_id = null
    session_id = null
    run_output = null
    canonical_tasks = null
    shard_plan = null
    shard_summaries = null
    compose_bundles = null
    qc_bundles = null
    trace_files = null
    aggregate_output = null
    review_output = null
    review_package = null
    review_records = null
    aggregate_case_results = null
    validated_review_output = null
    publication_destination = null
    python = 'python3'
    schema_dir = "${projectDir}/schema"
    r_prepare_wrapper = "${projectDir}/bin/prepare_cases.R"
    r_prepare_implementation = "${projectDir}/src/ssqtl_igv/resources/prepare_cases.R"
    helper_sif = null
    helper_sif_sha256 = null
    require_helper_sif = false
    runtime_image = null
    observed_oci_digest = null
    runtime_manifest = null
    runtime_manifest_sha256 = null
    runtime_fingerprint_sha256 = null
    runtime_sif = null
    runtime_sif_sha256 = null
    runtime_execution_mode = 'unconfigured'
    host_uid = null
    host_gid = null
    scc_project = null
    scc_qname = null
    expected_case_count = null
    estimated_seconds_per_case = 90.0
    max_cases_per_shard = 256
    max_parallel = 1
    shard_score_budget = 23040.0
    attempt = 1
    controller_job_id = null
    pipeline_commit = '0000000000000000000000000000000000000000'
    enable_reports = false
    session_output = 'session'
    test_mode = false
    fake_runtime = false
    skip_qacct = false
    ssqtl_associations = null
    ssqtl_rds_dir = null
    ssqtl_bam_lookup = null
    ssqtl_violin_dir = null
    ssqtl_input_root = null
    ssqtl_reference = null
    ssqtl_reference_root = null
    ssqtl_config = null
    ssqtl_bind_contract = null
    ssqtl_normalization_output = null
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    maxRetries = 0
    stageInMode = 'symlink'
    shell = ['/bin/bash', '-ue']

    withLabel: control {
        cpus = 1
        memory = '2 GB'
        time = '10 min'
    }
    withLabel: prepare {
        cpus = 1
        memory = '12 GB'
        time = '36 h'
    }
    withLabel: igv_render {
        cpus = 1
        memory = '8 GB'
        time = '30 min'
        maxForks = params.max_parallel
    }
    withLabel: portable_render {
        cpus = 1
        memory = '8 GB'
        time = '30 min'
        maxForks = params.max_parallel
    }
    withLabel: compose {
        cpus = 1
        memory = '4 GB'
        time = '10 min'
    }
    withLabel: qc {
        cpus = 1
        memory = '2 GB'
        time = '5 min'
    }
    withLabel: aggregate {
        cpus = 1
        memory = '4 GB'
        time = '2 h'
    }
}

executor {
    queueSize = params.max_parallel
}

singularity {
    enabled = false
    autoMounts = true
}

docker {
    enabled = false
}

trace {
    enabled = params.enable_reports
    file = "${params.session_output}/trace.txt"
    fields = 'task_id,hash,native_id,name,status,exit,submit,start,complete,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar'
    overwrite = false
}
report {
    enabled = params.enable_reports
    file = "${params.session_output}/report.html"
    overwrite = false
}
timeline {
    enabled = params.enable_reports
    file = "${params.session_output}/timeline.html"
    overwrite = false
}
dag {
    enabled = params.enable_reports
    file = "${params.session_output}/dag.html"
    overwrite = false
}
