params {
    runtime_execution_mode = 'standalone'
    python = '/opt/igv-helper/bin/python'
}

process {
    executor = 'local'

    withLabel: portable_runtime {
        container = null
    }
    withLabel: site_native {
        container = null
    }
    withLabel: accounting {
        container = null
    }
    withLabel: environment {
        container = null
    }
}

executor.queueSize = params.max_parallel.toString() == 'auto' ? 8 : params.max_parallel as int
docker.enabled = false
singularity.enabled = false
