params {
    test_mode = true
    python = "${projectDir}/.venv/bin/python"
    helper_sif = null
    require_helper_sif = false
    runtime_image = null
    observed_oci_digest = null
    runtime_manifest = null
    runtime_manifest_sha256 = null
    runtime_fingerprint_sha256 = null
    runtime_sif = null
    runtime_sif_sha256 = null
    runtime_execution_mode = 'test'
    max_parallel = 2
    enable_reports = false
    skip_qacct = true
}

process {
    executor = 'local'
    maxForks = 2
    withLabel: igv_render {
        cpus = 1
        maxForks = 2
        memory = '2 GB'
        time = '5 min'
    }
    withLabel: portable_render {
        cpus = 1
        maxForks = 2
        memory = '2 GB'
        time = '5 min'
    }
    withLabel: portable_runtime {
        container = null
    }
    withLabel: site_native {
        container = null
    }
}

executor.queueSize = 2
singularity.enabled = false
docker.enabled = false
